<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agar.IO</title>
</head>
<body>
<h1>My Agar.IO implementation</h1>
<a href="/game"><button>Play</button></a>
<template id="record-item-template">
    <div class="record" id="record">
        <span class="name" id="name"></span>
        <span class="score" id="score"></span>
    </div>
</template>
<h2>Records</h2>
<section class="records-list" id="records-list">
</section>
<script src="scripts/records.js"></script>
</body>
